body{
    background-image: url("WhatsApp Image 2022-12-01 at 18.54.10.jpg");
    background-size: 100% 100%;
}
p{
    position:fixed;
    bottom:200px;
    right:100px;
    color: white;
    font-size: 20px;
}
h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 20px;
    position: fixed;
    bottom: 10px;
    right:560px;
}
h{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(255, 30, 0);
    font-size: 25px;
    position: fixed;
    bottom: 150px;
    right:500px;
}
h1{
    position: fixed;
    color: orange;
    left: 450px;
    top: 190px;
    font-size: 50px;
}