body {
    background:linear-gradient(to top right,gray,rgb(93, 153, 178));
}
h1 {
    font-family: Lucida Handwriting,cursive;
    color: rgb(12, 2, 1);
}
input {
    border-radius: 20px;
    padding: 10px 20px;
}
button {
    border-radius: 20px;
    padding: 5px 20px;
}